.portfolio-picture {
    width: 95%;
    padding: 10px;
}

.carousel-holder h2 {
    padding: 10px
}

.carousel-holder p {
    font-size: 13px;
    padding: 10px;
    /* padding-bottom: 20px; */
} 

.portfolio-icon-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
}

.port-icon {
    padding: 5px;
}



/* tablet */
@media all and (max-width: 991px) {
    .carousel-holder p {
        font-size: 14px;
    } 
}

/* phone */
@media all and (max-width: 767px) {
    .pic-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-picture {
        width: 125%;
        padding: 0px;
    }

    .carousel-holder h2 {
        font-size: 21px;
    }

    .carousel-holder p {
        text-align: left;
        font-size: 13px;
    } 
}

