.hamburgerMenuDiv {
    position: fixed;
    z-index: 1;
    top: 0;
}

.hamburgerMenuDiv svg {
    color: rgba(255, 255, 255, 0.6);
}

.hamburgerMenuDiv svg:hover {
    color: rgba(255, 255, 255);
}

.navBar {
    background-color: #f3f3f2;
    text-align: left;
    padding: 2%;
    width: 25vw;
    height: 100vh;
}

.options li {
    font-size: 18px;
    font-weight: bold;
    padding: 5%
}

.navButton {
    text-align: left;
    padding: 2%;
    width: 25vw;
}

.navButtonTwo {
    background-color:  #f3f3f2;
    text-align: left;
    padding: 2%;
    width: 25vw;
}

/* tablet */
@media all and (max-width: 991px) {
    
}

/* phone */
@media all and (max-width: 767px) {
    .navBar {
        width: 85vw;
    }

    .navButton {
        text-align: left;
        width: 85vw;
    }
    
    .navButtonTwo {
        text-align: left;

        width: 85vw;
    }
}